:root{
    --blue: #0070d1;
    --bg-grey:#1f1f1f;
    --light-grey:#bebcbb;
    --bg-dark-blue:#161c3b;
    --footer-blue:#00439c;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
#logo-sony{
    width: 100px;
    height:40px;
   
}
#no-limits{
    color: #0070d1;
}
.bg1{
    background-color: #1f1f1f;
}
.bg2{
    background-color: #bebcbb;
}
.bg3{
    background-color: #161c3b;
}
.hero{
    background-image: url("../img/jumbo-bg.png");
    height: 700px;
    background-size: cover;
    background-position:center;
}
.hero-2{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    height: 600px;
    background-size: cover;
    background-position:center;
}

